%% == Erlang Compiler ==
%% Erlang compiler options
{minimum_otp_vsn, "17.0"}.
{erl_opts, [
  debug_info,
  {src_dirs, ["src"]},
  report_warnings,
  stong_validation,
  warn_bif_clash,
  warn_deprecated_function,
  warn_export_all,
  warn_export_vars,
  warn_exported_vars,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_untyped_record,
  warn_unused_function,
  warn_unused_import,
  warn_unused_record,
  warn_unused_vars,
  warnings_as_errors
]}.

%% == Dependencies ==
{deps, []}.

%% == EUnit ==
% Test folder
{eunit_tests, [{dir, "test"}]}.

%% == Cover ==
%% Whether to enable coverage reporting
{cover_enabled, true}.
%% Whether to print coverage report to console
{cover_print_enabled, true}.
%% Whether to export coverage report to file
{cover_export_enabled, true}.
%% Cover options
{cover_opts, [verbose]}.

%% == Dialyzer ==
{dialyzer, [
  %% Store PLT locally inside the project in .rebar
  {plt_location, local},
  %% Warnings options
  {warnings, [
    no_return,
    no_unused,
    no_improper_lists,
    no_fun_app,
    no_match,
    no_opaque,
    no_fail_call,
    no_contracts,
    no_behaviours,
    no_missing_calls,
    no_undefined_callbacks,
    unmatched_returns,
    error_handling,
    race_conditions,
    underspecs,
    unknown,
    overspecs,
    specdiffs]}
]}.
